{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/changelog",
    ["@semantic-release/exec", {"publishCmd":"SKIP_EXEC=true make"}],
    ["@semantic-release/github", {"assets":[{"path":"build/c-power4"}]}] 
  ]
}